[Unit]
Description=PAM handshake service
After=network.target

[Service]
ExecStart=/usr/sbin/pam_handshake_server --socket --addr /var/pam_handshake.socket --stack irods --chgrp irods
Type=forking
PIDFile=/var/pam_handshake.pid
StandardOutput=file:/var/log/pam_handshake_server.log
StandardError=file:/var/log/pam_handshake_server.err

[Install]
WantedBy=default.target
